<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение заказа</title>
</head>
<body>
    <h1>Ваш заказ №{{ order.id }} подтвержден</h1>
    <p>Уважаемый {{ order.customer.full_name }},</p>
    <p>Ваш заказ на сумму {{ order.total_amount }} KZT был успешно подтвержден.</p>

    <h2>Состав заказа:</h2>
    <ul>
        {% for item in order.items.all %}
        <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.price }} KZT</li>
        {% endfor %}
    </ul>

    <p>Спасибо за покупку!</p>
</body>
</html>